/ChessSkillJava/.project
.settings
.classpath
/ChessSkillJava/ChessGameAPI/.project
/ChessSkillJava/ChessGameImpl/.project
/ChessSkillJava/ChessGameRestService/.project
/ChessSkillLambda/chessSkill.zip
